body {
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.menu-buttons {
  margin: 10px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-button {
  float: right;
}

input[type=text], input[type=email], input[type=passwpord], input[type=number], input[type=date], select {
  padding: 10px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  margin: 10px;
  width: calc(100% - 20px);
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

